@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

body {
    padding: 0;
    margin: 0;
    background: url("images/contact - Copy.jpg");
    background-size: cover;
}

*{
    font-family: "Poetsen One", sans-serif;

}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-sizing: border-box;
}
img[alt="user"]{
    position: absolute;
    top:-40px;
    left: 127px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}


h2{
    color: #A15D30;
    text-align: center;
    margin-top: 65px;
}
input[type="text"],
input[id="password"],
input[type="email"]{
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #A15D30;
    background: none;
    padding: 5px;
    color: white;
}

input[type="email"]{
    top:110px;
    left: 50px;
}

input[id="password"]{
    top:170px;
    left: 50px;
}

input[id=user]{
    top:230px;
    left: 50px;
}

input[id="location"]{
    top:290px;
    left: 50px;
}

input[id="phone"]{
    top:350px;
    left: 50px;
}
::placeholder {
    color: white;
}



input[value="Signup"]{
    position: absolute;
    top:420px;
    left: 120px;
    width: 130px;
    height: 35px;
    background: #A15D30;
    border: none;
    outline: none;
    color: white;
    border-radius: 15px;
    font-size: 18px;
}

input[value="Signup"]:hover{
    background: white;
    color:#A15D30;
}

a{
    position: absolute;
    top: 470px;
    left: 160px;
    color: white;
}


.input-container .icon{

    color: white;
    font-size: 20px;
    position: absolute;
}

#i1{
    top:120px;
    left: 22px;
}

#i2{
    top:180px;
    left: 22px;
}

#i3{
    top:240px;
    left: 22px;
}

#i4{
    top:300px;
    left: 22px;
}

#i5{
    top:360px;
    left: 22px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.8) inset !important; /* لون الخلفية الجديد */
    -webkit-text-fill-color: white !important; /* لون النص داخل الحقل */
}



 #togglePassword{
    top:195px;
    left: 290px;
    font-size: 15px;
    color: white;
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
}