.prodocts .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 0;
    justify-content: center;
}

.prodocts .box-container .box {
    flex: 1 1 calc(25% - 1.5rem);
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
    max-width: 300px;
    top: 100px;
    height: auto;
}

.prodocts .box-container .box .image-features {
    position: relative;
    text-align: center;
    /*height: 200px; !* تحديد ارتفاع محدد للصور *!*/
    overflow: hidden;
    padding-top: 20px;
}

.prodocts .box-container .box .image-features img {
    height: 25rem;
    width: 25rem;
    /*object-fit: cover;*/
}

.prodocts .box-container .box .content-features {
    padding: 1rem;
    text-align: center;
}

.prodocts .box-container .box .content-features h2 {
    color: #333;
    font-size: 1rem;
}

.prodocts .box-container .box .content-features .price {
    font-weight: normal;
    padding-top: 0.5rem;
    font-size: 1rem;
    text-decoration: line-through;
}

.icon2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.icon2 img {
    width: 25px;
    height: 25px;
}

.icon2 a {
    font-size: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #BE2327;
    border-radius: 5px;
    color: white;
    margin: 0 5px;
    margin-top: 10px;
}

.prodocts .box-container .box .image-features .icon2 a:hover {
    background: #504C62;
}

.prodocts .box-container .box .content-features h2{
    /*font-size:2.5rem;*/
    color: #333;
    font-size: 15px;
}
.prodocts .box-container .box .content-features .price {
    /*font-size:2.5rem;*/
    /*color:#BE2327;*/
    font-weight: normal;
    padding-top: 1rem;
    font-size: 14px;
    color: #555555;
}

.prodocts .box-container .box .content-features .price1 {
    /*font-size:2.5rem;*/
    color:#BE2327;
    font-weight: normal;
    padding-top: 1rem;
    font-size: 17px;
}

.type {
    display: flex;
    justify-content: center; /* تمركز الروابط أفقيًا في المنتصف */
    gap: 60px; /* المسافة بين الروابط */
    font-size: 18px;
    position: absolute;
    margin-left: 500px;
    margin-top: 50px;

}
.type a{
    color:#BE2327;
    font-family: "Ibarra Real Nova", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;

}
.type a:hover {
    text-decoration: underline; /* إضافة خط تحت النص عند التمرير */
    color: #504C62; /* تغيير لون النص إلى الأحمر عند التمرير */
}

.type .Sale1{
    text-decoration: underline; /* إضافة خط تحت النص عند التمرير */
    color: #504C62; /* تغيير لون النص إلى الأحمر عند التمرير */
}

#add23{
    display: inline-block;
    padding: 7px 20px;
    margin-left: 30px;
    margin-top: 90px;
    box-shadow: 0.1rem 0.1rem 0.5rem #9e9999;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgba(190, 35, 39, 0.8);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

h1{
    text-align: center;
    position: absolute;
    top: 110px;
    left: 455px;
    font-size: 30px;
    color: #BE2327;
}



